<!doctype html>

<html ng-app="ExpenseTrackerApp">
<head>
    <title>Expense Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" media="screen" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="~/css/angular-chart.min.css">
    
    <link rel="stylesheet" media="screen" href="~/css/common.css">
</head>
<body ng-controller="MainController">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Expense Tracker</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <div ng-class="{hide: user !== ''}">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: '/signup' === $location.path()}"><a href="/signup">Sign up</a></li>
          </ul>
          <form ng-class="{hide: '/signup' === $location.path()}" class="navbar-form navbar-right" ng-submit="login()">
            <div class="form-group">
              <input type="text" ng-model="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" ng-model="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Login</button>
          </form>
        </div>

        <div class="hide" ng-class="{show: user !== ''}">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user}}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="logout()">Logout</a></li>
              </ul>
            </li>
            <li ng-class="{active: '/expense' === $location.path()}"><a href="/expense">Expense</a></li>
            <li ng-class="{active: '/report' === $location.path()}"><a href="/report">Report</a></li>
            <li ng-class="{active: '/graph' === $location.path()}"><a href="/graph">Graph</a></li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
    
    @RenderBody()
    
    <div class="alert alert-warning fade" ng-class="{in: warningMessage !== ''}" role="alert">{{warningMessage}}</div>
    <div class="alert alert-danger fade" ng-class="{in: errorMessage !== ''}" role="alert">{{errorMessage}}</div>
    <div class="alert alert-success fade" ng-class="{in: successMessage !== ''}" role="alert">{{successMessage}}</div>
    
    <div ng-view></div>

    @RenderSection("scripts", required: false)
</body>
</html>